*{
    margin: 0;
}
body{
    background-color: #FAFAF8;
}
.app-header{
    background-color:#FFFFFF ;
    font-family: 'Capriola';
    padding: 10px;
    box-shadow:5px 0px 6px gray  ;
    height: 3rem;

}
.app-name{
    text-align: center;
    margin-top: 3px;
}
.ingredient-form{
    display: flex;
    justify-content: center;
   margin-top: 6rem;
   gap: 10px;

}
.ingredient-form>input{
    padding: 10px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    color: #6B7280;
    font-family: 'Montserrat';
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;

}
.input-box:focus::placeholder{
    color: transparent;
}
.add-ingredients-btn{
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #141413;
    color:#FAFAF8 ;
    font-family: 'Montserrat';
    font-weight: 300;
    cursor: pointer;

}
.ingredient-list{
    display: flex;
    justify-content: center;
    margin-left:-200px;
    margin-top: 3rem;
    font-family: 'Capriola';
}
ul{
    margin-top: 20px;
    padding: 10px;
    color: #475467;
}
ul li,ol li{
    padding: 8px;
}
.get-recipe-div{
    background-color:#F0EFEB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 7rem;
    margin: auto;
    margin-top: 5rem;
    border-radius: 8px;
    gap: 9rem;
    font-family: 'Mulish';
}
.get-recipe-div div h3{
    color: #141413;

    
}
.get-recipe-div div p{
    color:#6B7280 ;
}
.get-recipe-div button{
    background-color:#D17557 ;
    color: #FAFAF8;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}
.suggested-recipe-container{
    color: #475467;
        line-height: 28px;
        font-size: 1.125rem;
        font-weight: 400;
}
.recipediv{
    display: flex;
    justify-content: center;
    align-items: center;
}