*{
    margin: 0;
}
body{
    background-color: #FAFAF8;
}
.app-header{
    background-color:#FFFFFF ;
    font-family: 'Capriola';
    padding: 10px;
    box-shadow:5px 0px 6px gray  ;
    height: 3rem;
    position:sticky;
    top: 0;

}
.app-name{
    text-align: center;
    margin-top: 3px;
}
.ingredient-form{
    display: flex;
    justify-content: center;
   margin-top: 6rem;
   gap: 10px;

}
.ingredient-form>input{
    padding: 10px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    color: #6B7280;
    height: 30px;
    font-family: 'Montserrat';
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    font-size: 16px;

}
.input-box:focus::placeholder{
    color: transparent;
}
.add-ingredients-btn{
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #141413;
    color:#FAFAF8 ;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    width: 100px;

}
.ingredient-list{
    display: flex;
    justify-content: center;
    margin-left:-200px;
    margin-top: 3rem;
    font-family: 'Capriola';
}
ul{
    margin-top: 20px;
    padding: 10px;
    color: #475467;
}
ul li,ol li{
    padding: 8px;
}
.get-recipe-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 90%;
}
/* @media (max-width: 768px) {
    .get-recipe-container{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
} */
.get-recipe-div{
    background-color:#F0EFEB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 7rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 8px;
    gap: 9rem;
    font-family: 'Mulish';
}
.get-recipe-div div h3{
    color: #141413;

    
}
.get-recipe-div div p{
    color:#6B7280 ;
}
.get-recipe-div button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    height: 40px;
    background-color:#D17557 ;
    color: #FAFAF8;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;

}
.get-recipe-div button:active {
    transform: scale(0.93);
}
.suggested-recipe-container{
         color: #475467;
        line-height: 28px;
        font-size: 1.125rem;
        font-weight: 400;
}
.recipediv{
   width: 70%;
   margin: auto;
}
.recipediv div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.center-wrapper{
    margin-top: 10px;
}